
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('public.home') }}">Home</a></li>
        <li><a href="{{ url_for('mycpi.enterBudgetShare') }}">Calculate</a></li>
        <li><a href="{{ url_for('public.about') }}">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

