
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p><b>MyCPI</b> computes a CPI score personalized to an individual/household based on their spending in standard categories</p>
      <p><b>Team Members:</b><br/>
          <ul>
            <li>Sasan Bahadaran</li>
            <li>Ed O' Brien'</li>
            <li>Hari Sirigibathina</li>
            <li>Dilip Hari</li>
          </ul>
      </p>
    </div>
</div>
{% endblock %}

