
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to MyCPI</h1>

  <p>The Consumer Price Index (CPI) is a measure of the average change over time in the prices paid by urban consumers for a fixed market basket of consumer goods and services. The CPI reflects the spending pattern of all urban consumers.<br/><br/>MyCPI is an individualized measure of price change. MyCPI allows you to track the prices of a market basket that more closely reflects your spending habits and to compare your CPI to the national average.</p>
  <p>
  <div class="row">
    <div class="col-lg-4">
        <a href="{{ url_for('mycpi.enterBudgetShare') }}" class="btn btn-primary btn-large">Calculate &raquo;</a>
    </div>
    <div class="col-lg-4">
        <a href="{{ url_for('public.home') }}" class="btn btn-primary btn-large">Learn more &raquo;</a>
    </div>
  </div>
  </p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-line-chart"></i> Bureau of Labor Statistics</h2>
      <!-- <p>Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</p> -->
      <p><a class="btn btn-default" href="http://www.bls.gov/">Official website &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> District Data Labs</h2>
      <!-- <p>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.</p> -->
      <p><a href="http://www.districtdatalabs.com/" class="btn btn-default" href="#">Official website &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-question-circle"></i> FAQ</h2>
      <!-- <p>Frequently asked questions on the Consumer Price Index (CPI)</p> -->
      <p><a href="http://www.bls.gov/cpi/cpifaq.htm" class="btn btn-default" href="#">CPI FAQ &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

