{#<html>
    <head>
        <title>MVP</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% include "nav_bar.html" %}
        <h1>My CPI</h1>
            <br/> #}
{% extends "layout_mvp.html" %}
{% block content %}            
        <div id="container">
            <div id="content">
            <p>Please enter the amount you spend ($) in each of the following categories:</p>
            </br>
                <form id="BudgetShareForm" method="POST" action="" role="form">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                    <table id="categoriestable">
                    <tr>
                        <td>{{form.food_share.label}}</td>
                        <td><span class="currencyinput">${{form.food_share(placeholder="Food/Beverage", class_="form-field")}}</span></td>
                    
                        <td>{{form.housing_share.label}}</td>
                        <td><span class="currencyinput">${{form.housing_share(placeholder="Housing", class_="form-field")}}</span></td>
                    </tr>
                    <tr>
                        <td>{{form.apparel_share.label}}</td>
                        <td><span class="currencyinput">${{form.apparel_share(placeholder="Apparel", class_="form-field")}}</span></td>
                        
                        <td>{{form.transportation_share.label}}</td>
                        <td><span class="currencyinput">${{form.transportation_share(placeholder="Transportation", class_="form-field")}}</span></td>
                    </tr>
                    <tr>
                        <td>{{form.medical_share.label}}</td>
                        <td><span class="currencyinput">${{form.medical_share(placeholder="Medical Care", class_="form-field")}}</span></td>
                        
                        <td>{{form.recreation_share.label}}</td>
                        <td><span class="currencyinput">${{form.recreation_share(placeholder="Recreation", class_="form-field")}}</span></td>
                    </tr>
                    <tr>
                        <td>{{form.edu_share.label}}</td>
                        <td><span class="currencyinput">${{form.edu_share(placeholder="Education", class_="form-field")}}</span></td>
                        
                        <td>{{form.other_share.label}}</td>
                        <td><span class="currencyinput">${{form.other_share(placeholder="Other Services", class_="form-field""form")}}</span></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td align="right"><input class="btn btn-default btn-submit" type="submit" value="Submit"></td>
                    </tr>
                    </table>
                    </div>
                </form>
                <br/><br/><br/>
                <form>
                    <div class="form-group">
                      <table id="cpitable">
                        <tr>
                          <td>{{form.my_cpi.label}}</td>
                          <td>
                        	{% if my_cpi == None %}
                            	    {{form.my_cpi(placeholder="My Inflation", class_="form-field", value=0.0, readonly=true)}}
                        	{% else %}
                                    {{form.my_cpi(value=my_cpi)}}
                        	{% endif %}
			  </td>
                          <td>{{form.avg_cpi.label}}</td>
			  <td>{{form.avg_cpi(value=236.625, readonly=true)}}</td>
                        </tr>
		      </table>
                    </div>
                </form>
            </div>
        </div>
{#    </body>
</html>#}
{% endblock %}
