<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

{% extends "layout.html" %}
{% block js %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block content %}
        <div id="fluid-container">
            <div id="content">
                <p>MyCPI calculates your personal price index based on your personal expenses over eight spending categories.<br/><br/>
        Please enter the amount you spent ($) over the last year in each of the following categories:</p>
                </br>
                <form id="BudgetShareForm" method="POST" action="" role="form" class="form-inline">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <div class="panel panel-default col-lg-16">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title">Budgetary Expenses</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-8 col-md-12">
                                    <div class="row">
                                        <label class="form-control" for="food">{{form.food_share.label(title="breakfast cereal, milk, coffee, chicken, wine, full service meals and snacks")}} </label>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            {{form.food_share(placeholder="Food/Beverage", class="form-control", id="food", type="text")}}
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <label class="form-control" for="housing">{{form.housing_share.label(title="rent of primary residence, owners' equivalent rent, fuel oil, bedroom furniture")}} </label>
                                        <div class="input-group pull-right">
                                            <span class="input-group-addon">$</span>
                                            {{form.housing_share(placeholder="Housing", class="form-control", id="housing", type="text")}}
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <label class="form-control" for="apparel">{{form.apparel_share.label(title="men's shirts and sweaters, women's dresses, jewelry")}} </label>
                                        <div class="input-group pull-right">
                                            <span class="input-group-addon">$</span>
                                            {{form.apparel_share(placeholder="Apparel", class="form-control", id="apparel", type="text")}}
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <label class="form-control" for="transportation">{{form.transportation_share.label(title="new vehicles, airline fares, gasoline, motor vehicle insurance")}} </label>
                                        <div class="input-group pull-right">
                                            <span class="input-group-addon">$</span>
                                            {{form.transportation_share(placeholder="Transportation", class="form-control", id="transportation", type="text")}}
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <label class="form-control" for="medical">{{form.medical_share.label(title="prescription drugs and medical supplies, pysicians' services, eyeglasses and eye care, hospital services")}} </label>
                                        <div class="input-group pull-right">
                                            <span class="input-group-addon">$</span>
                                            {{form.medical_share(placeholder="Medical Care", class="form-control", id="medical", type="text")}}
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <label class="form-control" for="recreation">{{form.recreation_share.label(title="televisions, cable television, pets and pet products, sports equipment, admissions")}} </label>
                                        <div class="input-group pull-right">
                                            <span class="input-group-addon">$</span>
                                            {{form.recreation_share(placeholder="Recreation", class="form-control", id="recreation", type="text")}}
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <label class="form-control" for="education">{{form.edu_share.label(title="college tuition, postage, telephone services, computer software and accessories")}} </label>
                                        <div class="input-group pull-right">
                                            <span class="input-group-addon">$</span>
                                            {{form.edu_share(placeholder="Education", class="form-control", id="education", type="text")}}
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <label class="form-control" for="other">{{form.other_share.label(title="tobacco and smoking products, haircuts and other personal services, funeral expenses")}} </label>
                                        <div class="input-group pull-right">
                                            <span class="input-group-addon">$</span>
                                            {{form.other_share(placeholder="Other", class="form-control", id="other", type="text")}}
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <p><button type="submit" class="btn btn-primary">Submit</button></p>
                </form>
                <br/><br/><br/>
                <form id="mycpi_panel" role="form" class="form-inline">
                    <div class="panel panel-default clearfix col-lg-5">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>CPI Comparison</b></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="mycpi" class="col-lg-6">My CPI</label>
                                    <div>
                                        {% if my_cpi == None %}
                                            {{form.my_cpi(placeholder="My Inflation", class="form-control col-lg-2", value=0.0, readonly=true)}}
                                        {% else %}
                                            {{form.my_cpi(value=my_cpi, class="form-control col-lg-2", readonly=true)}}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group pull-right">
                                    <label for="mycpi" class="col-md-3 col-lg-8">National CPI</label>
                                    <div>
                                        {{form.avg_cpi(value=236.625, readonly=true, class="form-control")}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/><br/><br/> <br/><br/><br/>
        {% if share_data.page_type == 'graph' %}
            <div id="{{ share_data.chart.renderTo }}" class="{{ share_data.page_type }}" style="min-width: 510px; height: 600px; max-width: 600px; margin: 0 auto">
                <script type="text/javascript" src="{{ url_for('static', filename='js/graph_highcharts.js') }}"></script>
                <script type="text/javascript">
                    <!-- variable for div id -->
                    var chart_id = '{{ share_data.chart.renderTo|safe }}';
                    <!-- variable for title -->
                    var title = {{ share_data.title|safe }};
                    <!-- variable for chart variables. Adding further params that cannot be added through python -->
                    var chart = {{ share_data.chart|safe }};
                    chart.plotBackgroundColor = null;
                    chart.plotBorderWidth = null;
                    chart.plotShadow = false;
                    <!-- variable for the data -->
                    var series = {{ share_data.series|safe }};
                    <!-- variable for xAxis -->
                    var x_axis = {{ share_data.xAxis|safe }};
                    <!-- variable for yAxis -->
                    var y_axis = {{ share_data.yAxis|safe }};
                </script>
            </div>
        {% endif %}
        <br/><br/><br/>
{% endblock %}
