<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% extends "layout.html" %}
{% block js %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block content %}
<!--     <style>
    .col{
        padding: 8px; 
        border: 2px solid darkgray; 
        } 
    .row { 
        margin-top: 16px; 
        background-color: lightgray; 
        } 
    </style > -->
<!-- <style>.panel {
        background-color: rgba(255, 255, 255, 0.9);
        }</style> -->
        
        <div id="fluid-container">
                <p> </p>
                </br>
                <div class="panel panel-default ">
                    <div class="panel-heading clearfix text-center">
                        <h1 class="panel-title"><b>MyCPI - How does inflation affect me?</b></h1>
                    </div>
                    <div class="panel-body">                
                <form id="BudgetShareForm" method="POST" action="" role="form" class="form-inline">
                    {{ form.hidden_tag() }}
                    <div class="container">
<!--                         <div class="row" id="row2">
                            <div class="form-group">
                                <div class="panel panel-default col-xs-12">
                                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title">Hello 1</h3>
                                    </div>
                                    <div class="panel-body">
                                    </div>
                                </div>                                
                            </div>
                        </div> -->
                        <div class="row" id="row1">
                            <div class="panel panel-primary col-xs-5 col-xs-offset-1">
                                <div class="panel-heading clearfix text-center">
                                    {{ form.budget_form_title.label(class="panel-title", title="Please enter the total amount spent ($ USD) in each of the following spending categories over a one month period:") }}
                                </div>
                                <div class="panel-body">
                                        <br/>
                                        <p>Please enter the total amount spent ($ USD) in each of the following spending categories over a one month period:</p>
                                        <br/>
                                        <div class="row">
                                            <label class="form-control col-xs-1 col-xs-offset-1" for="food">{{form.food_share.label(title="breakfast cereal, milk, coffee, chicken, wine, full service meals and snacks")}}</label>
                                            <div class="input-group pull-right">
                                                <span class="input-group-addon">$</span>
                                                {{form.food_share(placeholder="Food/Beverage", class="form-control", id="food", type="text")}}
                                                <span class="input-group-addon">.00</span>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <label class="form-control col-xs-1 col-xs-offset-1" for="housing">{{form.housing_share.label(title="rent of primary residence, owners' equivalent rent, fuel oil, bedroom furniture")}} </label>
                                            <div class="input-group pull-right">
                                                <span class="input-group-addon">$</span>
                                                {{form.housing_share(placeholder="Housing", class="form-control", id="housing", type="text")}}
                                                <span class="input-group-addon">.00</span>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <label class="form-control col-xs-1 col-xs-offset-1" for="apparel">{{form.apparel_share.label(title="men's shirts and sweaters, women's dresses, jewelry")}} </label>
                                            <div class="input-group pull-right">
                                                <span class="input-group-addon">$</span>
                                                {{form.apparel_share(placeholder="Apparel", class="form-control", id="apparel", type="text")}}
                                                <span class="input-group-addon">.00</span>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <label class="form-control col-xs-1 col-xs-offset-1" for="transportation">{{form.transportation_share.label(title="new vehicles, airline fares, gasoline, motor vehicle insurance")}} </label>
                                            <div class="input-group pull-right">
                                                <span class="input-group-addon">$</span>
                                                {{form.transportation_share(placeholder="Transportation", class="form-control", id="transportation", type="text")}}
                                                <span class="input-group-addon">.00</span>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <label class="form-control col-xs-1 col-xs-offset-1" for="medical">{{form.medical_share.label(title="prescription drugs and medical supplies, pysicians' services, eyeglasses and eye care, hospital services")}} </label>
                                            <div class="input-group pull-right">
                                                <span class="input-group-addon">$</span>
                                                {{form.medical_share(placeholder="Medical Care", class="form-control", id="medical", type="text")}}
                                                <span class="input-group-addon">.00</span>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <label class="form-control col-xs-1 col-xs-offset-1" for="recreation">{{form.recreation_share.label(title="televisions, cable television, pets and pet products, sports equipment, admissions")}} </label>
                                            <div class="input-group col-xs-offset-1 pull-right">
                                                <span class="input-group-addon">$</span>
                                                {{form.recreation_share(placeholder="Recreation", class="form-control", id="recreation", type="text")}}
                                                <span class="input-group-addon">.00</span>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <label class="form-control col-xs-1 col-xs-offset-1" for="education">{{form.edu_share.label(title="college tuition, postage, telephone services, computer software and accessories")}} </label>
                                            <div class="input-group pull-right">
                                                <span class="input-group-addon">$</span>
                                                {{form.edu_share(placeholder="Education", class="form-control", id="education", type="text")}}
                                                <span class="input-group-addon">.00</span>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <label class="form-control col-xs-1 col-xs-offset-1" for="other">{{form.other_share.label(title="tobacco and smoking products, haircuts and other personal services, funeral expenses")}} </label>
                                            <div class="input-group pull-right">
                                                <span class="input-group-addon">$</span>
                                                {{form.other_share(placeholder="Other", class="form-control", id="other", type="text")}}
                                                <span class="input-group-addon">.00</span>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- <div class="col-xs-1"></div> -->
<!--                             <div class =" dropdown" > 
                                <button class="btn btn-primary dropdown-toggle" type =" button" id ="dropdown1" data-toggle="dropdown" > Where do you live? <span class =" caret" > </span > </button > 
                                <ul class =" dropdown-menu" role ="menu" aria-labelledby ="dropdown1" > 
                                    <li role =" presentation" > <a role =" menuitem" href ="#" > North East </a > </li > 
                                    <li role =" presentation" > <a role =" menuitem" href ="#" > Mid West </a > </li > 
                                    <li role =" presentation" > <a role =" menuitem" href ="#" > Wreck dive </a > </li > 
                                    <li role =" presentation" class =" divider" > </li > 
                                    <li role =" presentation" > <a role =" menuitem" href ="#" > Cave dive </a > </li > 
                                </ul > 
                            </div > -->
                            <div class="panel panel-primary col-xs-3 col-xs-offset-1">
                                <div class="panel-heading clearfix  text-center">
                                    {{ form.rgn_residence.label(title="What is your region of residence?", class="panel-title") }}
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        {{ form.rgn_residence(class="form-control col-xs-3 col-xs-offset-4") }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2"></div>
                            <div class="panel panel-primary col-xs-3 col-xs-offset-1">
                                <div class="panel-heading clearfix text-center">
                                    {{ form.age_group.label(title="What is your age?", class="panel-title") }}
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        {{ form.age_group(class="form-control col-xs-3 col-xs-offset-4") }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2"></div>
                            <div class="panel panel-primary col-xs-3 col-xs-offset-1">
                                <div class="panel-heading clearfix  text-center">
                                    {{ form.edu_level.label(title="What is your highest level of education?", class="panel-title") }}
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        {{ form.edu_level(class="form-control col-xs-3 col-xs-offset-2") }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2"></div>
                            <div class="panel panel-primary col-xs-3 col-xs-offset-1">
                                <div class="panel-heading clearfix  text-center">
                                    {{ form.income_group.label(title="What is your income?", class="panel-title") }}
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        {{ form.income_group(class="form-control col-xs-3 col-xs-offset-3") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <p><button type="submit" class="btn btn-primary btn-lg btn-submit col-xs-offset-9">Submit</button></p>
                </form>
                </div>
                </div>                
                <div class="row"><br/></div>
                <form id="mycpi_panel" role="form" class="form-inline" style="top=20px">
                    <div class="panel panel-primary clearfix col-md-5 col-md-offset-3">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title"><b>CPI Comparison</b></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="text-center col-md-6">
                                    <label for="mycpi">My CPI</label>
                                    <div>
                                        {% if my_cpi == None %}
                                            {{form.my_cpi(placeholder="My Inflation", class="form-control text-center", value=0.0, readonly=true, id="mycpi")}}
                                        {% else %}
                                            {{form.my_cpi(value=my_cpi, class="form-control text-center", readonly=true, id="mycpi")}}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center col-md-6 ">
                                    <label for="nat_cpi">National CPI</label>
                                    <div>
                                        {{form.national_cpi(value=national_cpi, readonly=true, class="form-control text-center", id="nat_cpi")}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
        <div class="row"><br/></div>
        {% if share_data.page_type == 'graph' %}
        <div class="fluid-container">            

            <div class="row">
                <div class="col-lg-6 pull-right">
                    <div id="{{ share_data.chart.renderTo }}" class="{{ share_data.page_type }}">
                        <script type="text/javascript" src="{{ url_for('static', filename='js/graph_highcharts.js') }}"></script>
                        <script type="text/javascript">
                            <!-- variable for div id -->
                            var chart_id = '{{ share_data.chart.renderTo|safe }}';
                            <!-- variable for title -->
                            var title = {{ share_data.title|safe }};
                            <!-- variable for chart variables. Adding further params that cannot be added through python -->
                            var chart = {{ share_data.chart|safe }};
                            chart.plotBackgroundColor = null;
                            chart.plotBorderWidth = null;
                            chart.plotShadow = false;
                            <!-- variable for the data -->
                            var series = {{ share_data.series|safe }};
                            <!-- variable for xAxis -->
                            var x_axis = {{ share_data.xAxis|safe }};
                            <!-- variable for yAxis -->
                            var y_axis = {{ share_data.yAxis|safe }};
                        </script>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="{{ cpi_data.chart.renderTo }}" class="{{ cpi_data.page_type }}">
                        <script type="text/javascript" src="{{ url_for('static', filename='js/graph_highcharts.js') }}"></script>
                        <script type="text/javascript">
                            <!-- variable for div id -->
                            var chart_id_cpi = '{{ cpi_data.chart.renderTo|safe }}';
                            <!-- variable for title -->
                            var title_cpi = {{ cpi_data.title|safe }};
                            <!-- variable for chart variables. Adding further params that cannot be added through python -->
                            var chart_cpi = {{ cpi_data.chart|safe }};
                            chart_cpi.plotBackgroundColor = null;
                            chart_cpi.plotBorderWidth = null;
                            chart_cpi.plotShadow = false;
                            <!-- variable for the data -->
                            var series_cpi = {{ cpi_data.series|safe }};
                            <!-- variable for xAxis -->
                            var x_axis_cpi = {{ cpi_data.xAxis|safe }};
                            <!-- variable for yAxis -->
                            var y_axis_cpi = {{ cpi_data.yAxis|safe }};
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <br/><br/><br/>
{% endblock %}
